@model OrderItem



<h1>EditOrderDetails</h1>



<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrderDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderItem_Id" />
            <input type="hidden" asp-for="Order_Id" />



            <div class="form-group">
                <label asp-for="Product.Prod_Name" class="control-label"></label>
                <input asp-for="Product.Prod_Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

